
.sv_qstn .sq-root-cb {
    color: white;
    font-size: 10px;
  ; 
  }
  
  .sq-title {
    font-size: 20px;
    margin-left: 20px;
    color: #09425A;
  }
  
  .sq-label {
    margin-left: 40px;
    font-size: 15px;
    color: white;
  }
  
  .sv_qstn {
    border: 3px solid gray;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    background: #AABEC6;
    
  
  }
  
  